.made-using {
  span {
    font-size: small;
    background-color: #ffffff30;
    color: white;
    padding: 1px 9px;
    border-radius: 10px;
    display: inline-block;
    margin: 9px 3px 0 0;
    font-weight: 100;
  }
}
