.made-using {
  margin: 12px 0;

  span {
    font-size: small;
    background-color: #ffffff30;
    color: white;
    padding: 1px 9px;
    border-radius: 10px;
    display: inline-block;
    margin: 3px;
    font-weight: 100;
  }
}
