@import '../../../Sass/variables';

.headline {
  font-family: $heading-font;

  h1 {
    color: white;
    -webkit-text-fill-color: #fff;
    margin: 4px 0;
    font-weight: bold;
    font-family: $heading-font;

    @include for-tablets-down {
      margin: 21px 0 9px 0;
    }

    @include for-large-desktop-up {
      font-size: 46px;
    }
  }

  div {
    margin: 2vh 0px;

    @include for-tablets-down {
      margin: 4px 0;
    }

    p {
      font-size: 19px;
      width: 100%;
      margin: 9px 0;

      @include for-large-desktop-up {
        font-size: 24px;
      }

      small {
        padding: 9px 0;
      }
    }
  }
}
