@import '../../Sass/variables';

.cta {
  background-color: rgba($contrast-accent, 0.1);
  border-radius: 6px;
  padding: 18px 12px;
  margin: 2vh 0;

  a {
    color: white;
    text-decoration: none;
    transition: all 0.2s linear 0.2s;
    border-bottom: 0;

    &:hover,
    &:focus {
      opacity: 0.8;
      border-bottom: 1px dashed white;
    }
  }

  @include for-tablets-down {
    display: none;
  }
}
