@import '../../Sass/variables';

#sidebar {
  width: 24%;
  padding: 0 3vw 4vh 3vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: fixed;
  color: #fff;
  margin-left: 0;

  background: {
    image: linear-gradient(
        155deg,
        rgba(0, 150, 136, 0.88),
        rgba(16, 152, 75, 1)
      ),
      url('./Avatar/clyde2023.jpg');
    size: cover;
    repeat: no-repeat;
  }

  @include for-tablets-down {
    width: 100vw;
    padding: 0;
    height: 400px;
    text-align: center;
    position: relative;
  }
}
