@import '../../Sass/variables';

#sidebar {
  width: 24%;
  padding: 0 3vw 4vh 3vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: fixed;
  color: #fff;
  margin-left: 0;

  background: $background-image {
    size: cover !important;
    repeat: no-repeat;
  }

  @include for-tablets-down {
    width: 100vw;
    padding: 0 5vw;
    height: 400px;
    text-align: center;
    position: relative;
  }
}
