@import "../../../styles/variables";

.social-icons {
  font-size: 18px;
  font-weight: 100;
  margin: 9px 0 18px 0;

  span {
    margin: 0 2px;

    a {
      &:hover,
      &:focus {
        border-bottom: none;
      }
    }

    svg {
      width: 24px;
      margin: 0 0.8vw;
      fill: white;
      vertical-align: middle;
      transition: all 0.2s linear 0.2s;

      &:hover,
      &:focus {
        opacity: 0.95;
      }

      &.linkedin-svg {
        width: 22px;
      }

      &.envelope-svg {
        width: 26px;
      }

      &.twitter-svg,
      &.youtube-svg {
        width: 28px;
      }

      @include for-tablets-down {
        margin: 0 3vw;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
