.card-links {
  margin: 12px 9px;
  text-align: right;
  padding-left: 0;

  .made-using ~ & {
    margin-top: 0;
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      border-bottom: none;
    }

    &:last-child {
      margin-left: 9px;
    }
  }

  svg {
    width: 24px;
    margin-left: 9px;
    fill: white;
    transition: all 0.2s linear 0.2s;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
